@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

.nav-container{
    width: 100%;
    height: 80px;
    padding: 1em 5em;
}

.nav-container nav a.logo{
    font-size:33px;
    color: rgb(18, 18, 162);
    font-weight: 500;    
    }

.nav-container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container nav .links-nav a{
    font-size: 20px;
    color: rgb(41, 39, 39);
    text-decoration: none;
    margin: 0 1em;
    font-weight: 500;
}

.nav-container nav .Login-nav button{
    font-size: 16px;
    padding: 8px 14px;
    margin-left: 1em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-container nav .Login-nav button.singup{
    background-color: black;
    color: white;
    border-radius: 5px;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    padding: 1em 5em;
}

.description .left{
    width: 800px;
}

.description .left h1{
    font-size: 85px;
    font-weight: 800;
}

.description .left p{
    font-size: 20px;
    color: rgb(41, 39, 39);;
}
.description .left h1 span{
    color: rgb(18, 18, 162);;
}

.description .left button{
    display: flex;
    width: 200px;
    padding: 8px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    align-items: center;
}


.description .left button i{
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-right: 10px;
    padding: 8px;
}

.description .rigth{
    display: flex;
    justify-content: end;
    width: 800px;
}

.description .rigth .ima{
    width: 700px;
}

.sales,
.marketplace,
.sellers{
    width: 100%;
    height: auto;
    align-items: center;
    margin-bottom: 60px;
    padding: 1em 5em;
}

.sales h1{  
    font-size: 40px;
    margin-bottom: 30px;
}

.sales .services-container,
.marketplace .nft-container,
.sellers .sellers-container{
    display:flex;
    justify-content: space-between;
    gap:20px
}


.sales .services-container .services,
.marketplace .nft-container .nft
{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 10px rgb(118, 116, 116);
    transition: all 0.3s ease;
}

.sales .services-container .services:hover,
.marketplace .nft-container .nft:hover,
.sellers .sellers-container .top-seller:hover{
    box-shadow: none;
}

.sales .services-container .services h2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sales .services-container .services h2 i{
    margin-right: 10px;
    font-size: 40px;
}

.sales .services-container .services p{
    font-size: 18px;
}

.marketplace .view-more{
    display: flex;
    flex-direction: column;
}

.marketplace h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.marketplace .nft-container .nft .items{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #918181;
}


.marketplace .tops-container{
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.marketplace .tops-container .tops{
    background-color: #e1dede;
    padding: 10px;
    font-size: 14px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.marketplace .tops-container .tops:hover,
.marketplace .view-more button:hover{
    color: white;
    background-color:rgb(18, 18, 162);
}

.marketplace .nft-container .nft img{
    width: 280px;
    height: 280px;
    border-radius: 18px;
}

.marketplace .nft-container .nft h3{
    margin-bottom: 4px;
}

.marketplace .nft-container .nft p{
    display: flex;
    align-items: center;
}

.marketplace .nft-container .nft p i{
    background-color: rgb(18, 18, 162);
    color: white;
    border-radius: 50%;
    padding: 2px;
    margin-right: 10px;
}

.marketplace .nft-container .nft p span{
    color: rgb(101, 101, 239);
    font-size: 15px;
}

.marketplace .nft-container .nft .line{
   width: 100%;
   height: 2px;
   background-color: #f1f1f1;
   margin: 5px 0;
}

.marketplace .nft-container .nft .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: 8px;
}

.marketplace .nft-container .nft .time label{
    background: #f1f1f1;
    padding: 8px;
    border-radius: 12px;
}

.marketplace .nft-container .nft .time span{
    color: rgb(101, 101, 239);
}

.marketplace .view-more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.marketplace .view-more button{
    border: none;
    background: #e1dede;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 0;
}


.sellers .sellers-container .top-seller{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 18px;
    width: 500px;
    box-shadow: 0 10px 10px rgb(118, 116, 116);
    transition: all 0.3s ease;
}

.sellers h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.sellers .sellers-container .top-seller img{
    width: 80px;
    height: 80x;
}

.sellers .sellers-container .top-seller .text {
    margin-left: 10px;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    padding: 3em 5em;    
    gap:60px;
}

.footer h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
    width: 50%;
}

.footer .info-container{
    width: 35%;
    padding: 10px;
}

.footer .info-container .info{
    display: flex;
    justify-content: space-between;
    
}

.footer .info-container .info label{
    cursor: pointer;
    color: rgb(106, 105, 105);
    transition: all 0.3s ease;
}

.footer .info-container .info label:hover{
    color: white;
}

.footer .info-container .info-icons{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer .info-container .info-icons a ion-icon{
    width: 25px;
    height: 25px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .info-container .info-icons a ion-icon:hover{
    color:rgb(18, 18, 162);
}


.footer .info-container .copyright{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.footer .info-container .copyright p{
    font-size: 15px;
    color: #535353;
}

@media screen and (max-width: 1400px){
    .nav-container,
    .description,
    .sales,
    .marketplace,
    .nft-container,
    .sellers,
    .footer{
        padding: 0 40px;
    }

    .description .left h1{
        font-size: 60px;
    }

    .description .left p{
        font-size: 20px;
    }

    .description .rigth  {
    max-width: 580px;
    }
    .description .rigth img {
    width: 100%;
    max-width: 100%;
    height: auto;
    }

    .marketplace .nft-container{
        padding: 0;
    }
    .marketplace .nft-container .nft img{
        width: 220px;
        height: 220px;
    }
    
    .footer{
        padding: 60px 50px;
    }

    .footer h1{
        font-size: 40px;
    }

    .footer .info label{
        font-size: 13px;
    }

    .footer .info-container .copyright p{
        font-size: 10px;
    }

}

@media screen and (max-width: 1200px){
    
    .description .left h1{
        font-size: 60px;
    }

    .description .left p{
        font-size: 18px;
    }

    .description .rigth img{
        width: 520px;
    }

    .sales h1{
        font-size: 35px;
    }

    .sales .services-container .services h2{
        font-size: 18px;
    }

    .sales .services-container .services p{
        font-size: 13px;
    }

    .marketplace h1{
        font-size: 35px;
    }

     .marketplace .nft-container{
        flex-wrap: wrap;
        gap: 30px;
    }

     .marketplace .nft-container .nft{
        width: 48%;
    }

    .marketplace .nft-container .nft img{
        width: 100%;
        height: auto;
    }

    .sellers .sellers-container{
        flex-wrap: wrap;
        gap: 20px;
    }

    .sellers .sellers-container .top-seller{
        width: 48%;
    }
    
    .footer{
        padding: 80px 70px;
    }

    .footer h1{
        font-size: 35px;
    }

    .footer .info label{
        font-size: 10px;
    }



    .footer .info-container .copyright p{
        font-size: 10px;
    }
}

@media screen and (max-width: 992px){
    
    .nav-container nav a.logo{
        font-size: 28px;
    }

    .nav-container nav .Login-nav button{
        font-size: 12px;
    }

    .nav-container nav .links-nav a{
        font-size: 14px;
    }

    .description{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 40px;
    }

    .description .left{
        width: 100%;
    }

    .description .left h1{
        font-size: 28px;
    }

    .description .left p{
        font-size: 15px;
    }
    
    .sales .services-container{
        flex-wrap: wrap;
        gap:20px;
    }

    .sales .services-container .services{
        width: 48%;
        height: auto;
    }
    
    .marketplace .nft-container{
        gap: 20px;
    }
    
    .footer{
        flex-direction: column;
        padding: 60px 40px;
        align-items: center;
        justify-content: center;
    }

    .footer h1{
        display: flex;
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
        align-items: center;
    }

    .footer .info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .info-container .info {
        justify-content: space-between;
        gap: 15px;
    }

}

@media screen and (max-width: 768px){

    .nav-container,
    .description,
    .sales,
    .marketplace,
    .nft-container,
    .sellers,
    .footer{
        padding: 0 20px;
    }

    .nav-container{
        margin-top: 10px;
    }
    .nav-container nav a.logo{
        display: none;
    }

    .nav-container .links-nav a{
        font-size: 12px;
    }

    .nav-container .Login-nav button{
        font-size: 12px;
    }

    .description .left h1{
        font-size: 28px;
    }

    .description .left p{
        font-size: 12px;
    }

    .footer{
        padding: 60px 20px;
        align-items: center;
        justify-content: center;
    }

    .footer h1{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px){
    
    .nav-container{
    gap: 0;
    }

    .nav-container .links-nav a{ 
        font-size: 8px;
        width: 100%;
    }

    .nav-container .Login-nav button{
        font-size: 8px;
    }

    .description .rigth{
        width: 450px;
    }

    .description .left button{
        padding: 6px;
        width: 160px;
        font-size: 14px;
    }

    .sales .services-container .services{
        width: 100%;
    }

    .marketplace h1{
        font-size: 30px;
    }

    .marketplace .tops-container{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .marketplace .nft-container .nft,
    .sellers .sellers-container .top-seller{
        width: 47%;
    }
    .marketplace .nft-container .nft .time label{
        font-size: 12px;
    }

    .sellers .sellers-container .top-seller h3{
        font-size: 15px;
        flex-wrap: wrap;
    }

    .sellers h1{
        font-size: 30px;
    }

}


